In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AAPL.csv')

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-11,171.050003,171.210007,169.250000,169.429993,167.240967,20993400
1,2019-02-12,170.100006,171.000000,169.699997,170.889999,168.682114,22283500
2,2019-02-13,171.389999,172.479996,169.919998,170.179993,167.981277,22490200
3,2019-02-14,169.710007,171.259995,169.380005,170.800003,168.593292,21835700
4,2019-02-15,171.250000,171.699997,169.750000,170.419998,168.218201,24626800

In [5]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
241,2020-01-27,310.059998,311.769989,304.880005,308.950012,308.218506,40485000
242,2020-01-28,312.600006,318.399994,312.190002,317.690002,316.937805,40558500
243,2020-01-29,324.450012,327.850006,321.380005,324.339996,323.572052,54057300
244,2020-01-30,320.540009,324.089996,318.750000,323.869995,323.103180,31685800
245,2020-01-31,320.929993,322.679993,308.290009,309.510010,308.777191,49897100
246,2020-02-03,304.299988,313.489990,302.220001,308.660004,307.929199,43496400
247,2020-02-04,315.309998,319.640015,313.630005,318.850006,318.095062,34154100
248,2020-02-05,323.519989,324.760010,318.950012,321.450012,320.688934,29706700
249,2020-02-06,322.570007,325.220001,320.260010,325.209991,324.440002,26356400
250,2020-02-07,322.369995,323.399994,318.000000,320.029999,320.029999,29357800

In [6]:
df.shape

(251, 7)

In [7]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [8]:
schema_df = pd.read_csv('AAPL.csv')

In [9]:
schema_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-02-11,171.050003,171.210007,169.250000,169.429993,167.240967,20993400
1,2019-02-12,170.100006,171.000000,169.699997,170.889999,168.682114,22283500
2,2019-02-13,171.389999,172.479996,169.919998,170.179993,167.981277,22490200
3,2019-02-14,169.710007,171.259995,169.380005,170.800003,168.593292,21835700
4,2019-02-15,171.250000,171.699997,169.750000,170.419998,168.218201,24626800
5,2019-02-19,169.710007,171.440002,169.490005,170.929993,168.721588,18972800
6,2019-02-20,171.190002,173.320007,170.990005,172.029999,169.807388,26114400
7,2019-02-21,171.800003,172.369995,170.300003,171.059998,168.849930,17249700
8,2019-02-22,171.580002,173.000000,171.380005,172.970001,170.735229,18913200
9,2019-02-25,174.160004,175.869995,173.949997,174.229996,171.978958,21873400
10,2019-02-26,173.710007,175.300003,173.169998,174.330002,172.077667,17070200
11,2019-02-27,173.210007,175.000000,172.729996,174.869995,172.610687,27835400
12,2019-02-28,174.320007,174.910004,172.919998,173.149994,170.912918,28215400
13,2019-03-01,174.279999,175.149994,172.889999,174.970001,172.709381,25886200
14,2019-03-04,175.690002,177.750000,173.970001,175.850006,173.578033,27436200
15,2019-03-05,175.940002,176.000000,174.539993,175.529999,173.262161,19737400
16,2019-03-06,174.669998,175.490005,173.940002,174.520004,172.265228,20810400
17,2019-03-07,173.869995,174.440002,172.020004,172.500000,170.271317,24796400
18,2019-03-08,170.320007,173.070007,169.500000,172.910004,170.676025,23999400
19,2019-03-11,175.490005,179.119995,175.350006,178.899994,176.588608,32011000
20,2019-03-12,180.000000,182.669998,179.369995,180.910004,178.572662,32467600
21,2019-03-13,182.250000,183.300003,180.919998,181.710007,179.362320,31032500
22,2019-03-14,183.899994,184.100006,182.559998,183.729996,181.356216,23579500
23,2019-03-15,184.850006,187.330002,183.740005,186.119995,183.715332,39042900
24,2019-03-18,185.800003,188.389999,185.789993,188.020004,185.590805,26219800
25,2019-03-19,188.350006,188.990005,185.919998,186.529999,184.120056,31646400
26,2019-03-20,186.229996,189.490005,184.729996,188.160004,185.728989,31035200
27,2019-03-21,190.020004,196.330002,189.809998,195.089996,192.569427,51034200
28,2019-03-22,195.339996,197.690002,190.779999,191.050003,188.581650,42407700
29,2019-03-25,191.509995,191.979996,186.600006,188.740005,186.301483,43845300
30,2019-03-26,191.660004,192.880005,184.580002,186.789993,184.376678,49800500
31,2019-03-27,188.750000,189.759995,186.550003,188.470001,186.034973,29848400
32,2019-03-28,188.949997,189.559998,187.529999,188.720001,186.281738,20780400
33,2019-03-29,189.830002,190.080002,188.539993,189.949997,187.495865,23564000
34,2019-04-01,191.639999,191.679993,188.380005,191.240005,188.769211,27862000
35,2019-04-02,191.089996,194.460007,191.050003,194.020004,191.513290,22765700
36,2019-04-03,193.250000,196.500000,193.149994,195.350006,192.826111,23271800
37,2019-04-04,194.789993,196.369995,193.139999,195.690002,193.161682,19114300
38,2019-04-05,196.449997,197.100006,195.929993,197.000000,194.454758,18526600
39,2019-04-08,196.419998,200.229996,196.339996,200.100006,197.514709,25881700
40,2019-04-09,200.320007,202.850006,199.229996,199.500000,196.922470,35768200
41,2019-04-10,198.679993,200.740005,198.179993,200.619995,198.027985,21695300
...,...,...,...,...,...,...,...
209,2019-12-09,270.000000,270.799988,264.910004,266.920013,266.288025,32010600
210,2019-12-10,268.600006,270.070007,265.859985,268.480011,267.844330,22605100
211,2019-12-11,268.809998,271.100006,268.500000,270.769989,270.128906,19689200
212,2019-12-12,267.779999,272.559998,267.320007,271.459991,270.817261,34327600
213,2019-12-13,271.459991,275.299988,270.929993,275.149994,274.498535,33396900
214,2019-12-16,277.000000,280.790009,276.980011,279.859985,279.197357,32046500
215,2019-12-17,279.570007,281.769989,278.799988,280.410004,279.746094,28539600
216,2019-12-18,279.799988,281.899994,279.119995,279.739990,279.077667,29007100
217,2019-12-19,279.500000,281.179993,278.950012,280.019989,279.356995,24592300
218,2019-12-20,282.230011,282.649994,278.559998,279.440002,278.778381,68994500
219,2019-12-23,280.529999,284.250000,280.369995,284.000000,283.327576,24643000
220,2019-12-24,284.690002,284.890015,282.920013,284.269989,283.596924,12119700
221,2019-12-26,284.820007,289.980011,284.700012,289.910004,289.223602,23280300
222,2019-12-27,291.119995,293.970001,288.119995,289.799988,289.113831,36566500
223,2019-12-30,289.459991,292.690002,285.220001,291.519989,290.829773,36028600
224,2019-12-31,289.929993,293.679993,289.519989,293.649994,292.954712,25201400
225,2020-01-02,296.239990,300.600006,295.190002,300.350006,299.638885,33870100
226,2020-01-03,297.149994,300.579987,296.500000,297.429993,296.725769,36580700
227,2020-01-06,293.790009,299.959991,292.750000,299.799988,299.090149,29596800
228,2020-01-07,299.839996,300.899994,297.480011,298.390015,297.683533,27218000
229,2020-01-08,297.160004,304.440002,297.160004,303.190002,302.472137,33019800
230,2020-01-09,307.239990,310.429993,306.200012,309.630005,308.896912,42527100
231,2020-01-10,310.600006,312.670013,308.250000,310.329987,309.595215,35161200
232,2020-01-13,311.640015,317.070007,311.149994,316.959991,316.209534,30383000
233,2020-01-14,316.700012,317.570007,312.170013,312.679993,311.939667,40488600
234,2020-01-15,311.850006,315.500000,309.549988,311.339996,310.602844,30480900
235,2020-01-16,313.589996,315.700012,312.089996,315.239990,314.493591,27207300
236,2020-01-17,316.269989,318.739990,315.000000,318.730011,317.975372,34454100
237,2020-01-21,317.190002,319.019989,316.000000,316.570007,315.820465,27710800
238,2020-01-22,318.579987,319.989990,317.309998,317.700012,316.947815,25458100
239,2020-01-23,317.920013,319.559998,315.649994,319.230011,318.474182,26118000
240,2020-01-24,320.250000,323.329987,317.519989,318.309998,317.556335,36634400
241,2020-01-27,310.059998,311.769989,304.880005,308.950012,308.218506,40485000
242,2020-01-28,312.600006,318.399994,312.190002,317.690002,316.937805,40558500
243,2020-01-29,324.450012,327.850006,321.380005,324.339996,323.572052,54057300
244,2020-01-30,320.540009,324.089996,318.750000,323.869995,323.103180,31685800
245,2020-01-31,320.929993,322.679993,308.290009,309.510010,308.777191,49897100
246,2020-02-03,304.299988,313.489990,302.220001,308.660004,307.929199,43496400
247,2020-02-04,315.309998,319.640015,313.630005,318.850006,318.095062,34154100
248,2020-02-05,323.519989,324.760010,318.950012,321.450012,320.688934,29706700
249,2020-02-06,322.570007,325.220001,320.260010,325.209991,324.440002,26356400
250,2020-02-07,322.369995,323.399994,318.000000,320.029999,320.029999,29357800